<html ng-app="testeOnline">
<head>
	<title>Negociação de mercadorias</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
	<style>
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
	</style>
	<script src="angular.js"></script>
	<script>
		angular.module("negociaMercadoria", []);
		angular.module("negociaMercadoria").controller("negociaMercadoriaCtrl", function ($scope) {
			$scope.app = "Negociação de Mercadorias";
			$scope.mercadorias = [];
			$scope.negocios = [
				{nome: "Compra"},
				{nome: "Venda"},
			];
			$scope.adicionarMercadorias = function (mercadoria) {
				$scope.mercadorias.push(angular.copy(mercadoria));
				delete $scope.mercadoria;
			};
			$scope.apagarMercadorias = function (mercadorias) {
				$scope.mercadorias = mercadorias.filter(function (mercadoria) {
					if (!mercadoria.selecionado) return mercadoria;
				});
			};
			$scope.isMercadoriaSelecionada = function (mercadorias) {
				return mercadorias.some(function (mercadoria) {
					return mercadoria.selecionado;
				});
			};
		});
	</script>
</head>
<body ng-controller="negociaMercadoriaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table ng-show="mercadorias.length > 0" class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Código da Mercadoria</th>
				<th>Tipo da Mercadoria</th>
				<th>Quantidade</th>
				<th>Preço</th>
				<th>Tipo de Negócio</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': mercadoria.selecionado}" ng-repeat="mercadoria in mercadorias">
				<td><input type="checkbox" ng-model="mercadoria.selecionado"/></td>
				<td>{{mercadoria.nome}}</td>
				<td>{{mercadoria.codigo}}</td>
				<td>{{mercadoria.tipo}}</td>
				<td>{{mercadoria.quantidade}}</td>
				<td>{{mercadoria.preco}}</td>
				<td>{{mercadoria.negocio.nome}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': mercadoria.cor}"></div></td>
			</tr>
		</table>
		<hr/>
		<input class="form-control" type="text" ng-model="mercadoria.nome" placeholder="Nome da Mercadoria"/>
		<input class="form-control" type="text" ng-model="mercadoria.codigo" placeholder="Código da Mercadoria"/>
		<input class="form-control" type="text" ng-model="mercadoria.tipo" placeholder="Tipo de Mercadoria"/>
		<input class="form-control" type="text" ng-model="mercadoria.quantidade" placeholder="Quantidade"/>
		<input class="form-control" type="text" ng-model="mercadoria.preco" placeholder="Preço"/>
		<select class="form-control" ng-model="mercadoria.operadora" ng-options="negocio.nome for negocio in negocios">
			<option value="">Tipo de negócio</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="adicionarMercadorias(mercadoria)" ng-disabled="!mercadoria.nome || !mercadoria.telefone">Adicionar Mercadoria</button>
		<button class="btn btn-danger btn-block" ng-click="apagarMercadorias(mercadorias)" ng-if="isMercadoriaSelecionada(mercadorias)">Apagar Mercadorias</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>
