<html ng-app="testeOnline">

<head>
	<title>Negociação de mercadorias</title>
</head>

<body ng-controller="negociaMercadoriaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
			<div ng-if="messageInclude" class="alert alert-success">
				<button class="close" ng-click="closeMessageInclude()">&times;</button>
				 Mercadoria adicionada com sucesso!
			</div>
			<div ng-if="messageDelete" class="alert alert-warning">
				<button class="close" ng-click="closeMessageDelete()">&times;</button>
				 Mercadoria removida com sucesso!
			</div>
		<table ng-show="mercadorias.length > 0" class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Código da Mercadoria</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': mercadoria.selecionado}" ng-repeat="mercadoria in mercadorias">
				<td><input type="checkbox" ng-model="mercadoria.selecionado" /></td>
				<td>{{mercadoria.nome}}</td>
				<td>{{mercadoria.codigo}}</td>
				<td>
					<div style="width: 20px; height: 20px;" ng-style="{'background-color': mercadoria.cor}"></div>
				</td>
			</tr>
		</table>
		<hr/>
		<form class="form-horizontal" name="NegociaForm">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="mercadoria.nome" placeholder="Nome da Mercadoria" />
				<input class="form-control" type="text" ng-model="mercadoria.codigo" placeholder="Código da Mercadoria" />
				<input class="form-control" type="text" ng-model="mercadoria.tipo" placeholder="Tipo de Mercadoria" />
				<input class="form-control" type="text" ng-model="mercadoria.quantidade" placeholder="Quantidade" />
				<input class="form-control" type="text" ng-model="mercadoria.preco" placeholder="Preço" />
				<select class="form-control" ng-model="mercadoria.tipo" ng-options="negocio.nome for negocio in negocios">
					<option value="">Tipo de negócio</option>
				</select>
			</div>
		</form>
		<button class="btn btn-primary btn-block" ng-click="adicionarMercadorias(mercadoria)" ng-disabled="NegociaForm.$invalid"> Adicionar Mercadoria</button>
		<button class="btn btn-danger btn-block" ng-click="apagarMercadorias(mercadorias)" ng-if="isMercadoriaSelecionada(mercadorias)">Apagar Mercadorias</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>

</html>
